<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1>{{'main.helloWorld' | translate}}</h1>
      <p>{{'main.text' | translate}}</p>
    </div>
  </div>
  <div class="container">
    <h2>List of images</h2>
    <div>
      <div class="dynamic-grid" angular-grid="mainVm.images" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true">
        <image-card ng-repeat="imageData in mainVm.images track by $index" image-data=imageData ></image-card>
        <li ng-if="mainVm.images.length === 0">
          <strong>No results found...</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
